*,p{
  margin: 0;
  padding: 0;
}
a{
  color: #fff;
}
body,html{
  height: 100%;
  position: relative;
}
li{
  list-style: none;
}
label{
  margin: 0;
}
thead{
  background: #E6F8BA;

}
.cursor_pointer{
  cursor: pointer;
}
.overflow_auto{
  overflow: auto;
}
.pagination{
  margin: 0;
}
#table{
  overflow: auto;
  margin-bottom: 5px;
}
.table>thead>tr>th{
  text-align: center;
  border: 1px solid #fff;
  font-size: 12px;
  color: #333;
  font-weight: normal;
}
th:last-child{
  width: 125px;
}
tr{
  text-align: center;
}
.table>tbody>tr>td{
  font-size: 12px;
  vertical-align: middle;
  border: 1px solid #fff;
}
.table>tbody>tr>td{
  padding: 0;
}
tbody{
  overflow: auto;
}
.weui-cell:before{
  border: none;
}
.weui-btn_primary{
  background: #009695;
}
.display_inline_block{
  display: inline-block;
}
.button_margin{
  margin: 0 3px;
}
.coursetime_line{
  width: 20px;
  height: 2px;
  background: #999;
  display: inline-block;
  vertical-align: middle;
}
.arrow_right_style{
  text-align: center;
  font-size: 34px;
  color: #999;
}
.arrow_right_style:hover{
  color: #009695;
}
.operate_announce{
  margin: 2px 0;
  color: #fff;
}
.text_align_center{
  text-align: center;
}
.page_wrap span{
  font-size: 14px;
  color: #019695;
}
.operation_style{
  height: 35px;
  line-height: 35px;

}
.student_view_button_xiugai span{
  line-height: 1.8;
}
.book_img{
  width: 50px;
  height: 50px;
}
.page_wrap{
  padding: 0 15px;
}
.ouveflow_hidden{
  overflow: hidden;
}
.sort_img{
  width: 23px;
  height: 23px;
}
.admin_index{
  width: 100%;
  height: 100%;
  position: relative;
}
.admin_right{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background: #F2F0F1;
}
.admin_index_top{
  width: 100%;
  height: 51px;
  line-height: 51px;
  background: #ccc;
  padding: 0 15px;
}
.admin_index_header{
  color: #6e6e6e;
  cursor: pointer;
}
.admin_index_exit{
  color: #6e6e6e;
  float: right;
  top: 22.5px;
  cursor: pointer;
}
.admin_index_exit:hover,.admin_index_header:hover{
  text-decoration: none;
}
.admin_creat{
  text-align: right;
  padding: 17px 15px;
  background: #fff;
  margin-bottom: 17px;
}
.admin_creat_input{
  width: 100%;
  height: 25px;
  line-height: 25px;
  outline-style: none;
  border: none;
  text-indent: 7px;
}
.admin_creat_right{
}
.admin_creat_search{
  display: inline-block;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  padding: 0;
}
.admin_creat_button_search{
  padding: 0 16px;
  height: 27px;
  line-height: 27px;
  border: none;
}
.admin_creat_button{
  height: 25px;
  line-height: 25px;
  border: none;
}
.overflow_hidden{
  overflow: hidden;
}
.text_align_center{
  text-align: center;
}
@media screen and (max-width:768px){
.admin_creat_butto_wrap{
  padding: 0;
}
}
@media screen and (min-width:1023px){
  .admin_index_botton{
    width: 70%;
    margin: 0 auto;
  }
}
.borrow_view{
  margin: 10px 10px 0 10px;
  padding: 7px;
  background: #fff;
}
.borrow_view_img{
  box-sizing: border-box;

}
.borrow_bookimg{
  width: 100%;
  height: 120px;
}

/*首页弹出层*/
.borrow_creat{
  width: 400px;
  min-height: 300px;
  position: absolute;
  top: 0;
  left: 200px;
}
.borrow_creat_title{
  height: 25px;
  line-height: 25px;
  text-indent: 10px;
}
.borrow_creat_wrap{
  border: 1px solid #ddd;
  margin: 7px;
}
.borrow_creat_infor{
  padding: 7px 0;
}
.borrow_crea_name{
  padding: 3px 36px;
  font-size: 12px;
  color: #999;
}
.borrow_crea_input input{
  border: none;
  outline-style: none;

}
.borrow_crea_input{
  display: inline-block;
  border: 1px solid #999;
}

.borrow_creat {
  display: none;
}
.class_button_wrap{
  display: inline-block;
}
.turn_class_select_style{
  width: 280px;
}
.student_view_input_style_public{
  margin-left: 10px;
}
#admin_index table th:last-child{
  width: 158px;
}
.class_button_wrap_margin{
  margin: 0 7px;
}
.student_view_button_xiugai{
  text-align: right;
}
.student_view_button_xiugai span{
  display: inline-block;
  width: 150px;
}
