.button_style_delect{
  background: #1FB4AC;
  color: #fff;
  cursor: pointer;
  margin: 0 13px;
}
.button_style_new{
  background: #03CC6B;
  color: #fff;
  cursor: pointer;
  margin: 0 13px;
}
.button_style_search{
  background: #009695;
  color: #fff;
  cursor: pointer;
}

/*新建图书弹出层title*/
.borrow_creat_title_style{
  background: #009695;
  color: #fff;
}
.borrow_creat_style{
  background: #fff;
  cursor: pointer;
}

/*新建借书证*/
.new_creat_play_style{
  color:red;
  cursor: pointer;
}

#table{
  background: #fff;
}

.course_time_add_button{
  background: #1FB4AC;
  color: #fff;
}
